<div class="sidebar hide">
  <ul class="userlist">
    <li>
      <div class="status active"></div>
      <div class="img"><img src="https://avatars2.githubusercontent.com/u/1372918?s=460" /></div>
      <div class="q">
        <span class="name">Blaž Hrastnik</span>
        <div class="statline">Working on Project N</div>
      </div>
    </li>
    <li>
      <div class="status away"></div>
      <div class="img"><img src="https://avatars0.githubusercontent.com/u/154256?s=460" /></div>
      <div class="q">
        <span class="name">Marco Pivetta</span>
        <div class="statline">Away</div>
      </div>
    </li>
    <li>
      <div class="status away"></div>
      <div class="img"><img src="https://avatars2.githubusercontent.com/u/1372918?s=460" /></div>
      <div class="q">
        <span class="name">Blaž Hrastnik</span>
        <div class="statline">Away</div>
      </div>
    </li>
    <li>
      <div class="status offline"></div>
      <div class="img"><img src="https://avatars2.githubusercontent.com/u/1372918?s=460" /></div>
      <div class="q">
        <span class="name">Blaž Hrastnik</span>
        <div class="statline">Offline</div>
      </div>
    </li>
  </ul>
</div><!--

--><nav>
</nav><!--

--><div class="main">
    <form class="post-status">
      <textarea></textarea>
      <button class="right">Post</button>
    </form>

    <footer>&copy; Roave 2014</footer>
  </div>