.sidebar {
  width: 200px;
  /* background: #1E2229; */
  background: #1d1d28;
  /* background: #fafafa; */ 
  //box-shadow: inset 0 1px rgba(0,0,0,.1), 0 -1px rgba(255,255,255,.1);

  -webkit-transition: right .5s ease-in-out;

  &.hide {
    right: -200px;
  }
}

.main {
  width: 85%;
  padding: 1rem;
}

.sidebar, .main {
  display: inline-block;
  vertical-align: top;
}

.userlist {
  li {
    border-top: 1px solid #2D3136;
    padding: .5rem .85rem;
    border-bottom: 1px solid #000;

    .img {
      display: inline-block;
      vertical-align: middle;

      img {
        max-width: 32px;
        vertical-align: top;
        border-radius: 50%;
        margin-left: 8px;
        margin-right: 4px;
      }
    }
  }
  border-bottom: 1px solid #2D3136;
}

.status {
  width: 9px;
  height: 9px;
  border-radius: 100%;

  background-color: red;

  display: inline-block;
  vertical-align: middle;

  &.active { background: linear-gradient(to bottom, rgb(21, 235, 123), rgb(90, 170, 66)); }
  &.away { background: linear-gradient(to bottom, #F8F831, #B3B847); }
  &.offline { background: linear-gradient(to bottom, #E2E2E2, #747474); }
}

.q {
  display: inline-block;
  vertical-align: middle;

  margin-left: .25rem;
}

.name {
  display: inline-block;
  vertical-align: middle;

  font-size: .85rem;
  font-weight: 600;
  color: #33b0f7;
}

.statline {
  font-size: .75rem;
  color: #7C838D;
}

// main

.post-status {
  @extend .clearfix;

  textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;

    min-height: 120px;
    box-shadow: inset 0 0 5px rgba(0,0,0, .1);

    &:focus {
      border-color: #6871df;
      outline: none;
    }
  }
  button {
    background: linear-gradient(to top, darken(#6D60CF, 30%), #6D60CF);
    border: 1px solid darken(#6D60CF, 40%);
    box-shadow: inset 0 1px rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 3px;
    padding: .45rem 2.5rem;
    font-size: .75rem;

    text-shadow: 0 -1px rgba(0,0,0,.5);

  }
  padding-bottom: 1rem;

  border-bottom: 1px dotted #ddd;
}

// haxx

.bgfaker {
  position: absolute;
  top: 0;
  right: 50%;
  left: 0;
  bottom: 0; }

header {
  position: relative; }

.container {
  position: relative;
  background: #fff;
  margin: 0 auto;
  min-height: 800px; }

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  right: 0;
}

nav, .bgfaker {
  background-color: #fafafa;
}

nav { 
  border-right: 1px solid #ddd;
  width: 15%;

  min-height: 800px;
  display: inline-block;
  vertical-align: top;
}

